<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>example01</servlet-name>
        <servlet-class>ictgradschool.web.example01.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>example01</servlet-name>
        <url-pattern>/example01</url-pattern>
    </servlet-mapping>

</web-app>